@import "reset.css";

.content {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.defaultList {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2ec4b6;
  color: white;
  padding: 10px 20px 10px 20px;
}

main {
  display: flex;
}

.nav {
  background-color: #fafafa;
  padding: 30px 15px 30px 35px;
  flex: 1;
  max-width: 305px;
  height: calc(100vh - 100px);
}

.defaultList button {
  font-size: 1em;
  text-align: left;
  padding: 10px;
  background: none;
  border: none;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.defaultList button :hover {
  background-color: rgb(177, 19, 177);
}

.addProject-Popup {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.projectList {
  margin-left: 9px;
}

.projectList input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-weight: 400;
  width: 180px;
  font-size: 17px;
  margin-top: 10px;
  border: 0px;
  border-bottom: 1px solid #b8f8f3;
}

.projectList button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #b8f8f3;
  border: none;
  text-shadow: none;
  cursor: pointer;
}

.addProject {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
  background: #b8f8f3;
  border: none;
  text-shadow: none;
  cursor: pointer;
}

.tasks {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex: 6;
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: 0%;
  max-width: 950px;
  margin-top: 20px;
}

#task-list {
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
}

.project-title {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  padding: 0;
}

.each-task {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0 0.2em 0;
}

.each-task button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.task-Delete {
  background-color: transparent;
  cursor: pointer;
}

.inner-circle {
  margin: -3px auto;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0);
}

.addTask {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  background: #b8f8f3;
  border: none;
  text-shadow: none;
  cursor: pointer;
}
.addProject-Popup {
  display: none;
}

.addTask-Popup {
  display: none; /* Hidden by default */
  overflow: auto; /* Enable scroll if needed */
}

.addTask-Flex {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: space-around;
  margin: 0 auto;
}

.addTask-Flex input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-weight: 400;
  width: 230px;
  font-size: 17px;
  margin-bottom: 10px;
  border: 0px;
  border-bottom: 1px solid #b8f8f3;
}

.addTask-Flex select {
  position: relative;
  top: -10px;
  border: 1px solid transparent;
  border-bottom: 1px solid #b8f8f3;
}

.addTask-Flex button {
  border-radius: 10px;
  padding: 10px;
  background: #b8f8f3;
  border: none;
  text-shadow: none;
  cursor: pointer;
}

.editTask-Popup {
  display: none;
}
