/**@import "reset.css";**/

.addProject-Popup{
    display: none;
}

.addTask-Popup{
    display: none;
}   

.editTask-Popup{
    display: none;
}

.eachTasks{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.title {
    margin: 3px;
}

.desc {
    margin: 3px;
}

.date {
    margin: 3px;
}